    <ion-toolbar>
      <ion-searchbar id="search" animated="true" placeholder="search"></ion-searchbar>
    </ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
     
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row id="main_grid">
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
      <ion-col size="8" id="grid"><img src="assets/icon/colombian.png" width="30px" alt=""></ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- <app-explore-container></app-explore-container> -->
</ion-content>
