<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    &nbsp;𝓲𝓷𝓼𝓽𝓪𝓰𝓻𝓪𝓶
      <ion-icon name="send-outline" id="logo_side"></ion-icon>
      <ion-icon name="heart-outline" id="logo_side"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">  
    <ion-toolbar> 
    </ion-toolbar>  
  </ion-header>
  <ion-card id="card_scroll">
    <img alt="Silhouette of mountains"src="assets/icon/zeroquattro-art-8vd-h_8Ibmk-unsplash.jpg" />
    <ion-card-header>
      <div class="icons">
      <img src="assets/icon/love.png" id="post_icons_1">
      <img src="assets/icon/chat.png" id="post_icons_2">
      <img src="assets/icon/message (1).png" id="post_icons_3"></div>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains"src="assets/icon/zeroquattro-art-8vd-h_8Ibmk-unsplash.jpg" />
    <ion-card-header>
       <div class="icons">
      <img src="assets/icon/love.png" id="post_icons_1">
      <img src="assets/icon/chat.png" id="post_icons_2">
      <img src="assets/icon/message (1).png" id="post_icons_3"></div>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/zeroquattro-art-8vd-h_8Ibmk-unsplash.jpg" />
    <ion-card-header>
       <div class="icons">
      <img src="assets/icon/love.png" id="post_icons_1">
      <img src="assets/icon/chat.png" id="post_icons_2">
      <img src="assets/icon/message (1).png" id="post_icons_3"></div>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains"src="assets/icon/zeroquattro-art-8vd-h_8Ibmk-unsplash.jpg" />
    <ion-card-header>
       <div class="icons">
      <img src="assets/icon/love.png" id="post_icons_1">
      <img src="assets/icon/chat.png" id="post_icons_2">
      <img src="assets/icon/message (1).png" id="post_icons_3"></div>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/zeroquattro-art-8vd-h_8Ibmk-unsplash.jpg" />
    <ion-card-header>
       <div class="icons">
      <img src="assets/icon/love.png" id="post_icons_1">
      <img src="assets/icon/chat.png" id="post_icons_2">
      <img src="assets/icon/message (1).png" id="post_icons_3"></div>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/zeroquattro-art-8vd-h_8Ibmk-unsplash.jpg" />
    <ion-card-header>
       <div class="icons">
      <img src="assets/icon/love.png" id="post_icons_1">
      <img src="assets/icon/chat.png" id="post_icons_2">
      <img src="assets/icon/message (1).png" id="post_icons_3"></div>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  
  <!-- <app-explore-container ></app-explore-container> --> 
</ion-content>
  